* {
  box-sizing: border-box;
}

/* create a property to center align text*/
.text-centered {
  text-align: center;
  font-family: consolas;
}

/* background for the web page */
.dark-background {
  background-color: black;
  color: white;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 30px;
}

.wrapper {
  width: 300px;
  margin: auto;
}

/* customze how the images will display on the web page */
img {
  display: block;
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.list-align {
  padding-left: 125px;
  font-family: consolas;
  font-size: 16px;
}

.padded-align {
  padding-left: 75px;
  padding-right: 75px;
  font-family: consolas;
}

.padded-align2 {
  padding-left: 110px;
  padding-right: 75px;
  font-family: consolas;
}

strong {
  color: green;
}


/* customize links to show up a cpecific way for each type */
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}